.login-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Horizontally center */
  padding-right: 140px ;
  padding-bottom: 30px;
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  box-sizing: border-box; /* Prevents unwanted padding/margins */
  /*background: url("../../assets/images/loginbg.png") no-repeat center center / cover;*/
  background: url("../../assets/images/img7.png")  no-repeat center center / cover;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.4); /* White with 80% opacity */
  color: white;
  padding: 2.1rem;
  border-radius: 10px;
  width: 410px;
  height: 520px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 2.6rem;
  margin-top: 1.4rem;
  font-size: 2rem;
}

.input-group {
  margin-bottom: 2.3rem;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.1rem;
  color: white;
}

.input-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #272930;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 0.1rem;
  color: black;
}

.form-label{
  display: block;
  text-align: left;
}

.login-button {
  background-color: #870000;
  color: white;
  padding: 0.7rem;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 27px;
}

.login-button:hover {
  background-color: #6e0404;
}

.signup-text {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.signup-text a {
  color: #f1c40f;
  text-decoration: none;
}

.signup-text a:hover {
  color: #1547e6;
}
