body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #ffffff;
    overflow: hidden; /* Prevents overflow */

}

/*///////// Admin dashboard /////////*/
.dashboard-container {
    background-color: #121111;
    min-height: 100vh;
    width: 100vw;
    padding: 20px;
    font-weight: bold;

    /*background: url("../../assets/images/loginbg1.jpg") no-repeat center center/cover;*/
}

.divider-bar {
    position: fixed;
    width: 2550px;
    height: 7px;
    background-color: #1a1c23;
    border: none;
}

.gradient-bar {
    width: 1242px;
    height: 90px;
    background: linear-gradient(
            to right,
            rgba(61, 4, 4, 1.8),
            rgba(178, 4, 34, 0.7),
            rgba(255, 0, 0, 0.7)
    );
    border: none;
    margin: 29px 0 8px 245px;
    border-radius: 8px;
}

.dashboard-image {
    width: 500px;
    height: 500px;
    margin: -93px 0 0 -500px;
    position: absolute;
    padding: 0;
    border-radius: 32px;
}

.box {
    width: 290px;
    height: 120px;
    background-color: #1a1b23;
    border: none;
    border-radius: 8px;
}

.box1 {
    margin: 35px 0 6px 245px;
    background: linear-gradient(to right, #343b55, #1d2140);


}

.box2 {
    margin: -123px 0 6px 565px;
    background: linear-gradient(to right, #343b55, #1d2140);
}

.box3 {
    margin: -125px 0 6px 880px;
    background: linear-gradient(to right, #343b55, #1d2140);
}

.box4 {
    margin: -125px 0 6px 1195px;
    background: linear-gradient(to right, #343b55, #1d2140);
}

.large-box {
    background: linear-gradient(to right, #343b55, #1d2140);
    border: none;
    border-radius: 8px;
}

.large-box1 {
    width: 490px;
    height: 340px;
    margin: 21px 0 6px 246px;
    background: linear-gradient(to right, #343b55, #1d2140);
}

.large-box2 {
    width: 725px;
    height: 340px;
    margin: -344px 0 6px 760px;
    background: linear-gradient(to right, #343b55, #1d2140);
}

/*///////// Admin sidebar /////////*/
.sidebar-Box {
    width: 33px;
    height: 33px;
    borderRadius: 50%;
    backgroundColor: iconBgColor;
    display: flex;
    justifyContent: center;
    alignItems: center;
    marginRight: 15px;
    marginLeft: 2px;
}

/*///////// UI top line /////////*/
.divider-bar2 {
    position: fixed;
    width: 100vw;
    height: 4px;
    background-color: #1a1c23;
    border: none;
    margin-top: 64px;
    margin-left: -39px;

}

/*///////// Manage member table design /////////*/
.table-container {
    margin-top: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    marginTop: "45px";
    boxShadow: "0px 4px 20px rgba(0, 0, 0, 0.1)";
    borderRadius: "8px";
    overflowY: "auto";
    overflowX: "auto";
}

/*.table-header {*/
/*    background-color: #1a1b23;*/
/*    color: #ffffff;*/
/*    font-weight: bold;*/
/*}*/

.table-row{
    height: 80px;
}
.table-row:nth-of-type(odd) {
    background-color: #f5f5f5;
}

.table-row:hover {
    background-color: #e0e0e0;
}

.table-cell-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ButtonCover{
    background-color: #ffffff;
    border: 0.01rem solid #575757;
    border-radius: 5px;
    width: 1159px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
}



